<div class="card mt-3 p-3" >
  
  <div class="card-body card-prix">

<div class="demo-button-container"  fxLayoutAlign="flex-end">
    <button type="button" class="btn btn-success" routerLink="addBonAchat">
      <i class="fa fa-plus-circle fa-lg me-1" aria-hidden="true"></i>
      Ajoute Bon</button>
</div>


  <mat-form-field appearance="outline">
    <mat-label>Filtrer Bon</mat-label>
    <input  matInput (keyup)="applyFilter($event)" placeholder="Rechereche" #input>
  </mat-form-field>

  <div >
    <table  mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="bonANum">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> N° Bon  </th>
        <td mat-cell *matCellDef="let row">{{ row.bonANum }}</td>
      </ng-container>
  
      <!-- Nom Column -->
      <ng-container matColumnDef="nomF">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fournisseur </th>
        <td mat-cell *matCellDef="let row"> {{row.fournisseur.nom}} </td>
      </ng-container>
  
      <!-- Email Column -->
      <ng-container matColumnDef="dateBa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date De Bon  </th>
        <td mat-cell *matCellDef="let row"> {{row.dateBa}} </td>
      </ng-container>
  
      <!-- Tele Column -->
      <ng-container matColumnDef="montantTotal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant Total </th>
        <td mat-cell *matCellDef="let row"> {{row.montantTotal | number :'1.2-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="montantPayer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant Payer </th>
        <td mat-cell *matCellDef="let row"> {{row.montantPayer | number :'1.2-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.status" class="text-success" >R</span>
          <span *ngIf="!row.status" class="text-danger" >NR</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="valide">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valider </th>
        <td mat-cell *matCellDef="let row">
          <i *ngIf="row.valide" class="fa fa-check-circle-o fa-lg text-success"  aria-hidden="true"></i>
          <i *ngIf="!row.valide" class="fa fa-times-circle-o fa-lg text-danger"  aria-hidden="true"></i>
        </td>
      </ng-container>

      <!-- Action column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
        <td mat-cell *matCellDef="let row">
          <div class="actions">
            <button (click)="openDialogShow(row.idBa)"  class="btn btn-outline-primary"><i class="fa fa-eye" aria-hidden="true"></i></button>
            <button aria-label="Name"  type="button" class="btn btn-outline-success mx-1" routerLink="editBonAchat/{{row.idBa}}" [disabled]="row.listReglementFournisseur.length > 0" ><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <!--<button *ngIf="row.montantPayer != 0 " aria-label="Name"  type="button" class="btn btn-outline-success mx-1"  (click)="swal()" ><i class="fa fa-pencil" aria-hidden="true"></i></button>-->
            <button (click)="openDialogDelete(row)"  class="btn btn-outline-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
          
          </div>

        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" ></mat-paginator>
  </div>
 
</div>
</div>