.card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.card-header{
    height: 40px;
    background-color: 	#6C7B95;
    color: white;
}

.mat-dialog-content {
    max-height: initial;
}

img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

mat-form-field{
    width: 100%;
}

.card-prix{
    margin-top:2%;
   
}

.close{
    margin-top: -20px;
    margin-left: 98.7%;
    margin-bottom: 20px;
}
.close button{
    border: none;
    border-radius: 50%;
}
  
::ng-deep[readonly]  .mat-form-field-outline{
    background-color: rgb(249, 249, 249);
    border-radius: 5px;
    cursor: pointer;
    
}

input[readonly]{
    pointer-events: none;
}



    
