<div #ContainerRef class="card-body">

    <div class="d-flex justify-content-center mb-5" >
        <h2 class="title" >Dépenses et Recettes dans dernière cinq mois</h2>
    </div>
        
    <ngx-charts-line-chart

        [view]="[ContainerRef.offsetWidth, 400]"
        [scheme]="colorScheme"
        [legend]="legend"
        [legendPosition]="legendPosition"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="multi"
        [roundDomains]="roundDomains"
        [legendTitle]="legendTitle"
        
        >
    
    </ngx-charts-line-chart>

</div>
