
<div #ContainerRef class="card-body">

    <div class="d-flex justify-content-center mb-4" >
        <h2 class="title" >Dépenses et Recettes dans dernière quatre années</h2>
    </div>
        
    <ngx-charts-bar-vertical-2d
        [view]="[ContainerRef.offsetWidth, 400]"
        [scheme]="colorScheme"
        [results]="multi"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [legendTitle]="legendTitle"
        [roundDomains]="roundDomains"
        [noBarWhenZero]="noBarWhenZero" >
    </ngx-charts-bar-vertical-2d>
</div>
