<h1 mat-dialog-title>{{content}} Categorie</h1>
<div mat-dialog-content>
    <form [formGroup]="categorieForm">
        <mat-form-field appearance="outline">
          <mat-label>Nom Categorie</mat-label>
          <input formControlName="nomCat" matInput placeholder="Nom" type="text" required/>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions >
    <div class="ms-auto">
        <button class="btn btn-primary" mat-dialog-close>Fermer</button>
        <button *ngIf="isAddMode" class="btn btn-success mx-2" (click)="onSubmit()" [disabled]="categorieForm.invalid"><i class="fa fa-check me-2"></i>Ajouter</button>
        <button *ngIf="!isAddMode" class="btn btn-warning mx-2" (click)="onSubmit()" [disabled]="categorieForm.invalid"><i class="fa fa-pencil me-2"></i>Modifier</button>
    </div>
</div>